html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.2;
    scroll-behavior: auto;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative !important;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex-start {
    justify-content: start;
    gap: 1rem;
}

.flex-end {
    justify-content: end;
    gap: 0.5rem;
}

.align-center {
    align-items: center;
}

.margin-0 {
    margin: 0;
}

.margin-a {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.under-hov {
    text-decoration: none;
}

.under-hov:hover {
    text-decoration: underline;
}

.no-text-dec {
    text-decoration: none;
}

.w-100 {
    width: 100%;
}

.w-95 {
    width: 95%;
}

.w-90 {
    width: 90%;
}

.w-85 {
    width: 85%;
}

.w-80 {
    width: 80%;
}

.w-75 {
    width: 75%;
}

.w-70 {
    width: 70%;
}

.w-66 {
    width: 66.666%;
}

.w-618 {
    width: 61.8%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-55 {
    width: 55%;
}

.w-45 {
    width: 45%;
}

.w-40 {
    width: 40%;
}

.w-35 {
    width: 35%;
}

.w-33 {
    width: 33.333%;
}

.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}

.w-20 {
    width: 20%;
}

.w-15 {
    width: 15%;
}

.w-10 {
    width: 10%;
}

.w-5 {
    width: 5%;
}

.h-100vh {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.h-90 {
    height: 90%;
}

.h-90vh {
    height: 90vh;
}

.h-85vh {
    height: 85vh;
}

.h-75 {
    height: 75%;
}

.h-50 {
    height: 50%;
}

.h-45 {
    height: 45%;
}

.h-40 {
    height: 40%;
}

.h-35 {
    height: 35%;
}

.h-30 {
    height: 30%;
}

.h-25 {
    height: 25%;
}

.h-20 {
    height: 20%;
}

.h-10 {
    height: 10%;
}

.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

.top-50 {
    top: 50;
}

.right-0 {
    right: 0;
}

.right-50 {
    right: 50;
}

.bottom-0 {
    bottom: 0;
}

.pa0 {
    padding: 0;
}

.pa1 {
    padding: .25rem;
}

.pa2 {
    padding: .5rem;
}

.pa3 {
    padding: 1rem;
}

.pa4 {
    padding: 1.5rem;
}

.pa5 {
    padding: 2rem;
}

.pl0 {
    padding-left: 0;
}

.pl1 {
    padding-left: .25rem;
}

.pl2 {
    padding-left: .5rem;
}

.pl3 {
    padding-left: 1rem;
}

.pl4 {
    padding-left: 1.5rem;
}

.pl5 {
    padding-left: 2rem;
}

.pl6 {
    padding-left: 3rem;
}

.pl7 {
    padding-left: 4rem;
}

.pr1 {
    padding-right: 0.25rem;
}

.pr2 {
    padding-right: 0.5rem;
}

.pr3 {
    padding-right: 1rem;
}

.pr4 {
    padding-right: 1.5rem;
}

.pr5 {
    padding-right: 2rem;
}

.pr6 {
    padding-right: 3rem;
}

.pt1 {
    padding-top: 0.25rem;
}

.pt2 {
    padding-top: 0.5rem;
}

.pt3 {
    padding-top: 1rem;
}

.pt4 {
    padding-top: 1.5rem;
}

.ph1 {
    padding-left: .25rem;
    padding-right: .25rem;
}

.ph2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ph4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.ph5 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.ph6 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.pv1 {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}

.pv2 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.pv3 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.pv4 {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.pv5 {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.pv6 {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.pb1 {
    padding-bottom: 0.25rem;
}

.pb2 {
    padding-bottom: 0.5rem;
}

.pb3 {
    padding-bottom: 1rem;
}

.pb4 {
    padding-bottom: 1.5rem;
}

.pb5 {
    padding-bottom: 2rem;
}

.pb6 {
    padding-bottom: 3rem;
}

.ma1 {
    margin: 0.25rem;
}

.ma2 {
    margin: 0.5rem;
}

.ma3 {
    margin: 1rem;
}

.mt1 {
    margin-top: .25rem;
}

.mt2 {
    margin-top: .5rem;
}

.mt3 {
    margin-top: 1rem;
}

.mt4 {
    margin-top: 1.5rem;
}

.mt5 {
    margin-top: 2rem;
}

.mt6 {
    margin-top: 3rem;
}

.mt7 {
    margin-top: 4rem;
}

.mt8 {
    margin-top: 5rem;
}

.mt9 {
    margin-top: 6rem;
}

.mt10 {
    margin-top: 7rem;
}

.ma2 {
    margin: .5rem;
}

.ma3 {
    margin: 0.75rem;
}

.mv1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.mv2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mv3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mv4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mv5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mh2 {
    margin-left: .5rem;
    margin-right: .5rem;
}

.mh3 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mh4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.ml2 {
    margin-left: 0.5rem;
}

.ml3 {
    margin-left: 1rem;
}

.ml4 {
    margin-left: 1.5rem;
}

.ml5 {
    margin-left: 2rem;
}

.ml6 {
    margin-left: 2.5rem;
}

.ml7 {
    margin-left: 3rem;
}

.ml8 {
    margin-left: 4rem;
}

.ml9 {
    margin-left: 5rem;
}

.mr0 {
    margin-right: 0;
}

.mr1 {
    margin-right: 0.25rem;
}

.mr2 {
    margin-right: 0.5rem;
}

.mr3 {
    margin-right: 1rem;
}

.mr4 {
    margin-right: 1.5rem;
}

.mr5 {
    margin-right: 2rem;
}

.mr6 {
    margin-right: 3rem;
}

.ml6 {
    margin-left: 3rem;
}

.mb0 {
    margin-bottom: 0;
}

.mb1 {
    margin-bottom: 0.25rem;
}

.mb2 {
    margin-bottom: 0.5rem;
}

.mb3 {
    margin-bottom: 1rem;
}

.mb4 {
    margin-bottom: 1.5rem;
}

.mb5 {
    margin-bottom: 2rem;
}

.mb6 {
    margin-bottom: 3rem;
}

.mb7 {
    margin-bottom: 4rem;
}

.mb8 {
    margin-bottom: 5rem;
}

.mb9 {
    margin-bottom: 6rem;
}

.mb10 {
    margin-bottom: 7rem;
}

.mb11 {
    margin-bottom: 8rem;
}

.mb12 {
    margin-bottom: 9rem;
}

.mb13 {
    margin-bottom: 10rem;
}

.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: grey;
}

.overflow-y {
    overflow-y: scroll;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.white {
    color: white;
}

.overflow-auto {
    overflow: auto;
}

.borderbox {
    box-sizing: border-box;
}

.bd-black {
    border: 1px solid black;
}





/* PROJECT SPECIFIC */

:root {
    --olive: #848061;
    --yellow: #ffdd00;
}

.home {
    padding: 20px;
}

.ph20 {
    padding-left: 20px;
    padding-right: 20px
}

.pa20 {
    padding: 20px;
}

.pv20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 12px;
}

a {
    color: black;
}

a:hover {
    color: var(--olive);
}




/* HEADER */

.header-cont {
    width: 100%;
    background-color: var(--olive);
    padding: 20px;
}

.header-nav-list {
    gap: 32px;
}

.menu-item {
    text-decoration: none;
    color: white;
}

.menu-item:hover,.active {
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    color: white;
    text-underline-offset: -24px;
    text-decoration-thickness: 3px;
}

.menu-icon {
    font-size: 36px;
    position: absolute;
    cursor: pointer;
    top: 7px;
    right: 20px;
    z-index: 1000;
    color: white;
    padding-bottom: 2px;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--olive);
    color: white;
    display: flex;
    z-index: 999;
}

.menu-overlay nav ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-left: 20px;
    margin-top: 4rem;
}

.menu-overlay nav ul li {
    margin-bottom: 1rem;
}

.menu-overlay nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.email-button {
    box-sizing: border-box;
    padding: 12px 28px;
    border: 1px solid black;
    display: inline;
    color: black;
    text-decoration: none;
    font-weight: bold;
}


/* PAGES */

.interior {
    border-top: 2px solid var(--olive);
}

.interior p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;

}

.pronk {
    font-size: 40px;
    font-weight: 700;
    color: #5a82b3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}





/* MEDIA */

@media (max-width: 799px) {
    .header-nav-list {
        display: none;
    }
}

@media (min-width: 800px) {
    .mobile-menu {
        display: none;
    }
}

@media (min-width: 900px) {
    .header-cont {
        padding: 20px 100px;
    }
    .home {
        padding: 20px 100px;
    }
}

@media (min-width: 1260px) {
    .header-cont {
        padding: 20px 200px;
    }
    .home {
        padding: 20px 200px;
    }
}

